.video-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.video-modal {
  background: #000;
  width: 90%;
  max-width: 800px;
  position: relative;
  border-radius: 6px;
}

.video-wrapper {
  aspect-ratio: 16 / 9;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.video-close {
  position: absolute;
  top: -40px;
  right: 0;
  background: none;
  color: #fff;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
