@import "./layout/footer";
@import "./layout/header";

@import "./base/reset";
@import "./base/variables";
@import "./base/typography";
@import "./base/layout";
@import "./base/buttons";

@import "./pages/features-page";
@import "./pages/about-page";

@import "./sections/hero";
@import "./sections/video-modal";
@import "./sections/features";
@import "./sections/implementation";
@import "./sections/cta";
