.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0.75rem 1.75rem;
  border-radius: 4px;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: #0d6efd;
  color: #fff;

  &:hover {
    background-color: #0b5ed7;
  }
}
